header{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 47px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

#score_container{
    height: 50px;
}

body{
    justify-content: center;
}

#main_container{
    display: flex;
    justify-content: center;
}

#button_container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1;
    border-radius: 400px;
    box-shadow: 5px 5px 10px lightgray, -5px -5px 10px lightgray, -5px 5px 10px lightgray, 5px -5px 10px lightgray;
    height: 350px;
    width: 1100px;
    transition: width 0.5s;
}

.button_container2{
    width: 1125px !important;
}

#button{
    height: 300px;
    margin: 25px;
    border: 1;
    border-radius: 50%;
}

#menu_button_img{
    height: 300px;
}

#button :hover{
    border: 1;
    border-radius: 50%;
    box-shadow: 3px 3px 20px lightgray, -3px -3px 20px lightgray, -3px 3px 20px lightgray, 3px -3px 20px lightgray;
}

#subtitle_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#subtitle{
    padding: 20px;
    padding-right: 0px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(105, 105, 105);
}

#description_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#description{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(105, 105, 105);
}